<% include ../partials/header.ejs %>

<div class="body-content">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="/images/<%= reservation.cottage.image%>" alt="cottage image">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5><%= reservation.cottage.name %></h5>
                    <h6><%= reservation.cottage.location %></h6>
                    <span><%= reservation.cottage.description %></span>
                    <h6>Reserved for: <%= new Date(reservation.date).toDateString() %></h6>
                    <%if(currentUser && currentUser.admin){%>
                    <p>Reserved by user: <a href="/users/<%=reservation.user.id%>/show"><%= reservation.user.username %></a></p>
                    <%}%>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s4 l4">
                                <a class="btn orange darken-2" href="/reservations">Go Back</a>
                            </div>
                            <div class="col s8 l8">
                                <a class="btn red darken-2" href="/reservations/<%=reservation.id%>/delete">Cancel Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
