<% include ../partials/header.ejs %>

<div class="body-content">
    <ul class="collection">
        <li class="collection-item">Username: <%= user.username %></li>
        <li class="collection-item">Full name: <%= user.firstname %> <%= user.lastname %></li>
        <li class="collection-item">Address: <%= user.address %></li>
        <li class="collection-item">Postal code: <%= user.postalCode %></li>
        <li class="collection-item">Phone number: <%= user.phone %></li>
        <li class="collection-item">Email: <%= user.email %></li>
    </ul>
    <a class="btn orange darken-2" href="/users/<%= user.id %>/edit">Edit User</a>
    <a class="btn red darken-2" href="/users/<%= user.id %>/delete">Delete User</a>
    <br>
    <br>
</div>

<% include ../partials/footer.ejs %>